@import "../bootstrap/scss/bootstrap.scss";
@import "../fonts/Activist_webkit/Activist.css";
@import "../fonts/BrutalType-Regular/BrutalType-Regular.css";

:root {
  --white-color: #fff;
  --black-color: #000;
}

.form-control:focus,
.form-check-input:focus
{
  border-color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.25);
  outline: 0 none;
}

.form-check-input:checked {
  border-color: #212529;
  background-color: #212529;
}

.cropper-bg {
  border-radius: 0.5rem;
}

* {
  font-family: 'BrutalType', serif;
}

.btn > img {
  filter: invert(0);
  transition: 0.2s ease-in-out;
}

.btn:hover > img, .btn.active > img {
  filter: invert(1);
}

.fade-left-enter-active,
.fade-left-leave-active {
  transition: 0.5s ease;
}

.fade-left-enter-from,
.fade-left-leave-to {
  opacity: 0;
}